################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DIPrototypeAPI/.vs
/DIPrototypeAPI/bin/Debug
/DIPrototypeAPI/obj
/.vs/DIPrototype/FileContentIndex
